set timeout=5
set default=0
menuentry "Surface Pro 12 - linux-next (x1p42100)" {
    search --no-floppy --set=root --label SP12ROOT
    linux /boot/Image root=LABEL=SP12ROOT rw rootwait clk_ignore_unused pd_ignore_unused console=tty0 loglevel=7 usbcore.autosuspend=-1 usb-storage.quirks=0781:55bb:u
    initrd /boot/initramfs-sp12.img
    devicetree /boot/sp12.dtb
}
