set timeout=3
set default=0

menuentry "Surface Pro 12 - linux-next (x1p42100)" {
    search --no-floppy --set=root --label SP12ROOT-INT
    linux /boot/Image root=LABEL=SP12ROOT-INT rw rootwait clk_ignore_unused pd_ignore_unused console=tty0 loglevel=3 quiet splash usbcore.autosuspend=-1 modprobe.blacklist=qcom_q6v5_pas
    initrd /boot/initramfs-sp12-plymouth.img
    devicetree /boot/sp12.dtb
}

menuentry "SP12 - sans splash (verbeux / debug)" {
    search --no-floppy --set=root --label SP12ROOT-INT
    linux /boot/Image root=LABEL=SP12ROOT-INT rw rootwait clk_ignore_unused pd_ignore_unused console=tty0 loglevel=7 usbcore.autosuspend=-1 modprobe.blacklist=qcom_q6v5_pas
    initrd /boot/initramfs-sp12.img
    devicetree /boot/sp12.dtb
}

menuentry "SP12 Rescue - known-good 2026-07-16 (kernel+initramfs+dtb figes)" {
    search --no-floppy --set=root --label SP12ROOT-INT
    linux /boot/Image.good-2026-07-16 root=LABEL=SP12ROOT-INT rw rootwait clk_ignore_unused pd_ignore_unused console=tty0 loglevel=7 usbcore.autosuspend=-1 modprobe.blacklist=qcom_q6v5_pas
    initrd /boot/initramfs-sp12.good-2026-07-16.img
    devicetree /boot/sp12.good-2026-07-16.dtb
}


menuentry "SP12 - Shell UEFI (diagnostic drivers)" {
    search --no-floppy --set=root --label SYSTEM
    chainloader /slbounce/Shell.efi
}

menuentry "SP12 - EL2 / KVM  (repli, msm+dsp blacklistes)" {
    search --no-floppy --set=root --label SP12ROOT-INT
    linux /boot/Image-el2dbg root=LABEL=SP12ROOT-INT rw rootwait clk_ignore_unused pd_ignore_unused console=tty0 loglevel=7 usbcore.autosuspend=-1 id_aa64mmfr0.ecv=1 modprobe.blacklist=msm,qcom_q6v5_pas ignore_loglevel
    initrd /boot/initramfs-sp12.img
    devicetree /boot/sp12-el2.dtb
}

menuentry "SP12 - Lire ramoops (EL1, apres hang)" {
    search --no-floppy --set=root --label SP12ROOT-INT
    linux /boot/Image-el2dbg root=LABEL=SP12ROOT-INT rw rootwait clk_ignore_unused pd_ignore_unused console=tty0 loglevel=4 usbcore.autosuspend=-1 modprobe.blacklist=qcom_q6v5_pas
    initrd /boot/initramfs-sp12.img
    devicetree /boot/sp12-ramoops.dtb
}

menuentry "SP12 - EL2 / KVM + KDE  (usage courant, wifi interne)" {
    search --no-floppy --set=root --label SP12ROOT-INT
    linux /boot/Image-el2dbg root=LABEL=SP12ROOT-INT rw rootwait clk_ignore_unused pd_ignore_unused console=tty0 loglevel=4 usbcore.autosuspend=-1 id_aa64mmfr0.ecv=1 modprobe.blacklist=qcom_q6v5_pas
    initrd /boot/initramfs-sp12.img
    devicetree /boot/sp12-el2.dtb
}


menuentry "SP12 - EL2 / KVM + KDE + vsock (Cowork)" {
    search --no-floppy --set=root --label SP12ROOT-INT
    linux /boot/Image-el2vsock root=LABEL=SP12ROOT-INT rw rootwait clk_ignore_unused pd_ignore_unused console=tty0 loglevel=4 usbcore.autosuspend=-1 id_aa64mmfr0.ecv=1 modprobe.blacklist=qcom_q6v5_pas
    initrd /boot/initramfs-sp12.img
    devicetree /boot/sp12-el2.dtb
}

# ADSP/CDSP demarres par qebspil avant ExitBootServices, puis rattaches par le
# noyau (serie remoteproc "attach" + qcom,broken-reset dans le DTB).
# Les modules remoteproc de /lib/modules sont ceux de CETTE Image : struct rproc
# y grandit de 8 octets, donc toutes les autres entrees blacklistent
# qcom_q6v5_pas pour eviter un chargement croise silencieusement corrompu.
menuentry "SP12 - EL2 / KVM + KDE + audio (DSP rattaches)" {
    search --no-floppy --set=root --label SP12ROOT-INT
    linux /boot/Image-el2audio root=LABEL=SP12ROOT-INT rw rootwait clk_ignore_unused pd_ignore_unused console=tty0 loglevel=3 usbcore.autosuspend=-1 id_aa64mmfr0.ecv=1
    initrd /boot/initramfs-sp12-audio.img
    devicetree /boot/sp12-el2-audio.dtb
}
